#gameboard{
    border: 3px solid;
    background-color: aqua;
}
#gamecontainer{
    text-align: center;
    background-color: aqua;
}
#scoretext{
    font-family:sans-serif;
    font-size: 60px;
}
#resetbtn{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(243, 200, 119);
    cursor: pointer;
}